.table{
    margin:40px;
    opacity: 0.9;
    .data{
        color: black;
        font-weight: 600;  
    }
    .data:hover{
        background: rgba(243, 246, 247, 0.7);
        cursor: pointer;
        color:rgb(26, 26, 26);
    }
    
    .header{
        color: black;
        font-weight: 900;
    }

 
}
.form{
    display: flex;
    flex-direction: column;
    label{
        margin: 8px 0px;
        font-weight: bolder;
    }
    p-button{
        margin: 12px 0px;
    }
}
::ng-deep .testcase .p-button{
    height: 40px;
}