.table{
   
    .data:hover{
        background: rgba(243, 246, 247, 0.7);
        color:rgb(26, 26, 26);
    }
    margin:40px;
    opacity: 0.9;
    .data{
        color: black;
        font-weight: 600;  
    }
   
    .header{
        color: black;
        font-weight: 900;
    }

}
