@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
*{
    font-family: noto sans;
    margin: 0px;
}
body{
    background: url('https://img.freepik.com/free-vector/pastel-abstract-nebula_91008-229.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
